<footer class="footer">
  <div class="container footer-content">
    <p>&copy; 2025 &bull; Ricardo Santos Dias. Todos os direitos reservados.</p>
    <div class="social-links">
      <a href="https://github.com/ricardodias06" target="_blank" aria-label="GitHub">
        <img src="../assets/icons/github.png" alt="GitHub" />
      </a>
      <a href="https://www.instagram.com/ricardodias_06/" target="_blank" aria-label="Instagram">
        <img src="../assets/icons/instagram.png" alt="Instagram" />
      </a>
      <a href="https://discord.com/users/rickypt" target="_blank" aria-label="Discord">
        <img src="../assets/icons/Discord.svg" alt="Discord" />
      </a>
    </div>
  </div>
</footer>
